<nav class="site sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" [routerLink] = "['/login']" routerLinkActive="active">Login</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink] = "['/register']" routerLinkActive="active">Register</a>
  </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5 bg-outline-dark">
    <h1 class="display-4 font-weight-normal">Plan Your Work</h1>
    <p class="lead font-weight-normal">
      Welcome to the web application that will help you organise your
      work
    </p>
    <a class="btn text-light"  style="background-color: rgb(2, 33, 36)" [routerLink] = "['/register']" routerLinkActive="active">Register now</a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 ">
  <div style="background-color: rgb(2, 33, 36); border: 0.2rem solid white" class=" mr-md-3 pt-3 px-3 pt-md-4 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Create different projects</h2>
      <p class="lead">You can create your own project and
        add people to your project.</p>
    </div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-4 px-md-5 text-center overflow-hidden" style="border: 0.2rem solid rgb(2, 33, 36)">
    <div class="my-3 p-3">
      <h2 class="display-5">Join multiple projects</h2>
      <p class="lead">You can be part of more than just one project.
      </p>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-4 px-md-5 text-center overflow-hidden" style="border: 0.2rem solid rgb(2, 33, 36)">
    <div class="my-3 p-3">
      <h2 class="display-5">Create new boards</h2>
      <p class="lead">Create couple of boards with different
        lists for your project.
      </p>
    </div>
  </div>

  <div style="background-color: rgb(2, 33, 36); border: 0.2rem solid white" class=" mr-md-3 pt-3 px-3 pt-md-4 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Create list of tasks</h2>
      <p class="lead">Add tasks that need to be done
        to the different lists of the project.</p>
    </div>
  </div>
</div>
