<div class="card text-white bg-light mb-3" id="members">
  <input id= "closeMembers" type="image" src="../../assets/x-close.png" class="bg-secondary"
         alt="Close" width="15" height="15"
         (click)="onCloseMembers()"/>
  <div class="card-header text-center text-secondary">Members</div>
  <div class="card-body" id="membersList">

    <div class="form-outline">
        <input type="search" class="form-control" placeholder="Search members"
               aria-label="Search" [(ngModel)]="searchText" #searchMembers/>
    </div>

    <h6 class="card-title text-secondary text-left" style="margin-top: 1rem;">BOARD MEMBERS</h6>
    <ul class="list-group list-group-flush" style="list-style-type: none;">
        <li  class="mb-1" *ngFor="let member of boardMembers | searchFilter: searchText"
            style="background: none">
            <button type="button" class="btn btn-success shadow-none"
                    [attr.id]="member"
                    (click)="onAddMember($event.target)">
                    {{member}}
                    <span *ngIf="memberFound(member)">
                      <img src="../../assets/tick.png" width=10 height=10
                          style="margin-left: 0.2rem; margin-bottom: 0.1rem">
                    </span>
            </button>
        </li>
    </ul>
  </div>
</div>


